.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .overlay {
    padding: 20px;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  #overlay-body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #888;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
  .close-btn:hover {
    color: #333;
  }