<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Lock Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/overlay.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.js"></script>  
  
  <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/homepage">Smart Lock</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-sm mt-5">
    <div class="text-center">
      <h1>Welcome, <%= username %>!</h1>
      <p class="lead"></p>
    </div>

    <div class="row gy-4">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Smart Lock State</h5>
            <p class="card-text">Check if your lock is open or closed.</p>
            <button class="btn btn-primary" onclick="openOverlay('Lock State')">View State</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">View History</h5>
            <p class="card-text">See the access history of your lock.</p>
            <button class="btn btn-primary" onclick="window.location.href='/history'">View History</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Account Settings</h5>
            <p class="card-text">Manage your account preferences.</p>
            <button class="btn btn-primary" onclick="window.location.href='/settings'">Settings</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Device Settings</h5>
            <div class="list-group list-group-flush mt-3">

              <!-- Distance Card -->
              <div class="list-group-item mt-3">
                <div class="d-flex justify-content-between align-items-center">
                  <strong>Distance object detection range</strong>
                  <div id="slider-distance" style="width: 60%; margin: 20px;"></div>
                  <button type="button" class="btn btn-primary" onclick="updateDistance()">Update</button>
                </div>
              </div>
            
              <!-- Temperature Card -->
              <div class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                  <strong>Temperature</strong>
                  <span id="temperature-badge" class="badge bg-primary fs-4">
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="fullscreenOverlay" class="fullscreen-overlay">
      <div class="card overlay">
        <span class="close-btn" onclick="closeOverlay()">&times;</span>
        <br>
        <h3 id="overlay-header" class="text-center"></h3>
        <div id="overlay-body" class="p-2">
        </div>
      </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/homepage.js"></script>
  
    <!-- Add Socket.io client -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();  // Connect to the Socket.io server
  
      // Listen for 'temperatureUpdate' event from server
      socket.on('temperatureUpdate', (newTemperature) => {
        // Update the temperature displayed on the page
        document.getElementById('temperature-badge').innerText = `${newTemperature} °C`;
      });
    </script>
  </body>
</html>